.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 55%
    right: 80%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 55%
    right: 12%
    width: 20%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)
  
  
.banner-principal .tarjeta
  background-position: left 50% !important

.banner-principal__row .banner-principal__img
  width: 400px !important  

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: black !important   

figcaption
  font-weight: normal
 
.banner-interno__fondo    
  background-image: url("../assets/curso/banner_interno.png") !important

.cajon.color-acento-contenido 
  background-color: #C9C7DD

// subtitulos

.icon 
  max-width: 20px
  left: 25px
  position: absolute

.bg-img-gris
  padding: 5px
  background-color: #EDECF4
  border-radius: 0px 20px 20px 0px
  border-top-left-radius: 50px 
  border-left-color: white

// fondos y bordes

.borde-redondo
  border-radius: 25px

.borde-redondo-abajo
  border-bottom-left-radius: 20px
  border-bottom-right-radius: 20px

.borde-redondo-arriba
  border-top-left-radius: 20px
  border-top-right-radius: 20px

.fondo1
  background: url('../assets/curso/temas/fondointro.jpg')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: center 
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -1.4rem